apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-nginx
  labels:
    app: {{ .Chart.Name }}
data:
  nginx.conf: |-
    user  nginx;
    worker_processes  auto;
    
    pid        /var/run/nginx.pid;
    
    events {
        worker_connections  1024;
    }
    
    http {
        include       /etc/nginx/mime.types;
        default_type  application/octet-stream;
    
        map $upstream_response_time $temprt {
          default $upstream_response_time;
          ""      0;
        }
        
        map $http_x_request_id $requestid {
            default $http_x_request_id;
             "" $request_id;
        }
        
        log_format json escape=json '{ "server_protocol": "$server_protocol", '
            '"upstream_connect_time":"$upstream_connect_time", '
            '"@timestamp": "$time_iso8601", '
            '"response_time": $temprt, '
            '"status": $status, '
            '"request_id": "$requestid", '
            '"request_method": "$request_method", '
            '"request": "$request", '
            '"request_length": $request_length, '
            '"request_uri": "$request_uri", '
            '"upstream_addr": "$upstream_addr", '
            '"upstream_status": $upstream_status, '
            '"upstream_connect_time": $upstream_connect_time, '
            '"upstream_response_time": $upstream_response_time, '
            '"x_forwarded_for": "$remote_addr", '
            '"url": "$uri", '
            '"bytes_sent": $bytes_sent, '
            '"body_bytes_sent": $body_bytes_sent, '
            '"server_port": "$server_port", '
            '"http_user_agent": "$http_user_agent", '
            '"http_referrer": "$http_referer", '
            '"http_content_type": "$sent_http_content_type", '
            '"request_body": "$request_body", '
            '"http_host": "$http_host" }';
                         
        real_ip_header X-Forwarded-For;
        set_real_ip_from 0.0.0.0/0;
        
        access_log /dev/stdout json;
        error_log  /dev/stderr warn;
    
        sendfile        on;
        server_tokens   off;
        tcp_nopush      on;
        tcp_nodelay     off;
        keepalive_timeout  65;
        reset_timedout_connection on;
        client_body_timeout 15;
        send_timeout 5;
        client_max_body_size  10m;
    
        upstream edo {
            server localhost:80;
        }
    
        server {
            listen       8080;
            server_name  localhost;
        
            location / {
                proxy_pass http://edo;
            }

            location = /en/api/1.0/external/payments/callback {
               proxy_pass http://edo;
            }

            location = /health {
                add_header Content-Type text/plain;
                access_log off;
                return 200 "healthy\n";
            }
        }
    }  