apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: app
          image: {{ .Values.registry }}/edo-api:{{ .Release.Namespace }}-{{ .Chart.Version }}
          ports:
            - containerPort: 80
      imagePullSecrets:
      - name: travel-key-registry