using System;
using Microsoft.Extensions.Logging;

namespace {{Namespace}}
{
    internal static class LoggerExtensions
    {
        static LoggerExtensions()
        {
        {{#Descriptions}}
            {{Event}}Occured = LoggerMessage.Define{{^IsException}}<string>{{/IsException}}(LogLevel.{{Level}},
                new EventId((int) LoggerEvents.{{Event}}, LoggerEvents.{{Event}}.ToString()),
                $"{{LogLevelString}} | {{Source}}: {{message}}");
            
         {{/Descriptions}}
        }
    
        {{#Descriptions}}
                
         internal static void Log{{Event}}(this ILogger logger, {{^IsException}}string message{{/IsException}}{{#IsException}}Exception exception{{/IsException}})
            => {{Event}}Occured(logger, {{^IsException}}message, null{{/IsException}}{{#IsException}}exception{{/IsException}});
        {{/Descriptions}}
    
    
        {{#Descriptions}}
        
        private static readonly Action<ILogger, {{^IsException}}string, {{/IsException}}Exception> {{Event}}Occured;
        {{/Descriptions}}
    }
}